@model BhavyaModhiya_490_Model.CustomModel.ProfileModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .col-6 {
        width: 50%
    }
</style>

<div>
    <h4>Profile</h4>
    <hr />
    <div class=" p-5">
        <div class="d-flex justify-content-center">
            <img class="rounded-circle border border-black img-fluid" style="height: 150px; width: 150px;" src="~/Content/UserProfile/@Model.ProfilePicture" />
        </div>
        <h3 class="mb-4">Your Details:</h3>
        <div class="row">
            <div class="col-6 input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Name</span>
                <p class="form-control" disabled>@Model.FirstName @Model.LastName</p>
            </div>
            <div class="col-6 input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Email</span>
                <p class="form-control" disabled>@Model.Email</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 input-group mb-3">
                <span class="input-group-text" id="basic-addon1">BirthDate</span>
                <p class="form-control" value=" " disabled>@Model.BirthDate.ToString().Split(' ')[0]</p>
            </div>
            <div class="col-6 input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Phone Number</span>
                <p class="form-control" disabled>@Model.PhoneNumber</p>
            </div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Address</span>
            <p class="form-control" disabled>@Model.Address</p>
        </div>
        <div>
            <div class="d-flex justify-content-between gap-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Country</span>
                    <p class="form-control" disabled>@Model.Country</p>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">State</span>
                    <p class="form-control" disabled>@Model.State</p>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">City</span>
                    <p class="form-control" disabled>@Model.City</p>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">ZipCode</span>
                    <p class="form-control" disabled>@Model.ZipCode</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    @Html.ActionLink("Edit", "UpdateProfile", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back", "Home", null, new { @class = "btn btn-secondary" })

</div>